<ActionBar title="Palmares">
</ActionBar>

<side-drawer-page>
<StackLayout>  
    <TextField hint="Name"  [(ngModel)]="name"></TextField>
    <Button text="Search" (tap)="onSearchTap()"></Button>
    <GridLayout rows="auto, *">
        <ListView [items]="palmaresList" row="1">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout>
                    <GridLayout rows="auto,auto" columns="auto, *">
                        <Label text="{{item.name}}" row="0" col="1" class="login"></Label>
                        <StackLayout row="1" col="1" orientation="vertical">
                            <Label text="Dernier:"  class="score-label"></Label>
                            <Label text="{{item.dernier}}"  class="score"></Label>
                            <Label text="Haut:"  class="score-label"></Label>
                            <Label text="{{item.haut}}"  class="score"></Label>   
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </ListView>
        <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</StackLayout>  

</side-drawer-page>
<!--[class.odd]="odd" [class.even]="even"
android:class="label-item"-->
<!--<ListView [items]="palmaresList" >
            <template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout>
                    <Label [text]="item.name"></Label>
                </GridLayout>
            </template>
        </ListView>-->
        <!--<GridLayout rows="auto, *">-->

  <!--<GridLayout row="0" columns="*, auto" class="add-bar">
    <TextField #groceryTextField [(ngModel)]="grocery" hint="Enter a grocery item" col="0"></TextField>
    <Image src="res://add" (tap)="add()" col="1"></Image>
  </GridLayout>

  <ListView [items]="groceryList" row="1" class="small-spacing" [class.visible]="listLoaded">
    <template let-item="item">
      <Label [text]="item.name" class="medium-spacing"></Label>
    </template>
  </ListView>
  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>-->